GEMINI_API_KEY=
HF_TOKEN=
MONGO_URI=mongodb+srv://user2:cvuser@cluster0.blkzqjy.mongodb.net/CVExtraction?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=CVExtraction
COLLECTION_NAME=CVExtractionCollection

GOOGLE_TOKEN_JSON={"token":"REPLACE","refresh_token":"REPLACE","token_uri":"https://oauth2.googleapis.com/token","client_id":"REPLACE","client_secret":"REPLACE","scopes":["https://www.googleapis.com/auth/drive.readonly"],"expiry":"2099-12-31T00:00:00Z"}

PORT=8080
TOP_K=5
SECRET_KEY=change_me_for_prod

GOOGLE_DRIVE_FOLDER_ID=1xrnoJjaS0YQvs5GQFcuYmlif3AQxRJCP

